<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-success mt-2 mb-2">Banner Management</button></a>
    <a href="/admin/query"><button class="btn btn-success mt-2 mb-2">Query Management</button></a>
    <a href="/admin/service"><button class="btn btn-success mt-2 mb-2">Service Management</button></a>
    <a href="/admin/testi"><button class="btn btn-success mt-2 mb-2">Testi Management</button></a>
    <a href="/admin/reg"><button class="btn btn-success mt-2 mb-2">User's Management</button></a>
    <a href="/admin/parking"><button class="btn btn-success mt-2 mb-2">Parking Management</button></a>
    <a href="/admin/footer"><button class="btn btn-success mt-2 mb-2">Footer Management</button></a>
</div>
